/**
	Style sheet
*/

body{
	background-color: #ffe6cc; 
	color:#001933;
	font: Arial;
	/*
	option 1 :#ffe6e6;
	option 2 :#e6f5ff;
	option 3 :#fff2e6;
	option 4 :#ffe6cc;
	*/
}

div{
	text-align: center;
}

textarea{
	width: 100%;
	height: 400px;
}

h1{
	text-align: center;
	color: #004d99
}

h3{
	text-align: center;
}

#buttons{
	width: 100%
	height: 50px;
	align-items: center;
}

#newEntry{
	align-self: center;
	width: window.width-100px;
	height: window.height-200px;
}
.newEntryUnclickedHeight{
	height: 0
}
.newEntryClickedHeight{
	height: (window.height)-150;
	background-color: blue; /* To test that it works*/
}

#oldEntries{
	align-self: center;

}
.oldEntriesUnclickedHeight{
	height: 0
}
.oldEntriesClickedHeight{
	height: (window.height)-150;
	background-color: blue; /* To test that it works*/
}

.column{
	float: left;
	width: 33.33%;
	height: 100%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}